{% extends 'petfriendly/base.html' %}
{% load static %}

{% block content %}
<div class="main">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="{% static 'petfriendly/image/slideshow/dog.jpg'%}"/>
			</div>
			<div class="swiper-slide">
				<img src="{% static 'petfriendly/image/slideshow/dog2.jpg'%}"/>
			</div>
			<div class="swiper-slide">
				<img src="{% static 'petfriendly/image/slideshow/dog3.jpg'%}"/>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>
</br>
</div>
{% endblock %}