{% extends 'petfriendly/base.html' %}
{% load static %}

{% block content %}
	<div class="onas">
		<div class="inner">
		<h1 style="text-align: center">PETFRIENDLY</h1>
			<img src="{% static 'petfriendly/image/onas.jpg'%}"/>
			<p>
			<i><b>"Jest twoim przyjacielem, partnerem, obrońcą, twoim psem. Jesteś jego życiem, miłością, przewodnikiem.
				Będzie twój, wierny i oddany do ostatniego uderzenia serca. Winien mu jesteś zasłużyć na to oddanie."</b></i></br></br>
			Naszym zadaniem jest znalezienie hoteli przyjaznych zwierzętom, które przy okazji sprawdzają natężenie atrakcji w najbliższej okolicy.
			Sprawdź naszą bazę i przekonaj się sam! :)</br></br>
			</p>
			</div>
		</div>
{% endblock %}