@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Playfair+Display:400,700');
html, body {
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	text-align: center;
}
body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 150px;
    color: #333;
}
#top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
	text-align: left;
	padding: 0;
	background-color: white;
	z-index: 2;
}
#top .inner {
	width: 1000px;
    margin: auto;
}

#MENU {
	width: 600px;
	height: 150px;
	overflow: hidden;
	background-color: white;
	margin-left: 100px;
	padding: 0;
}

.main {
    width: 1000px;
    margin: 0 auto;
}

.main img {
    width: 1000px;
    height: 600px;
}

.container {
    text-transform: uppercase;
    text-decoration: none;
	float: left;
	width: 120px;
  	font-size: 18px;
  	color: #333333;
   	text-align: center;
	font-weight: bold;
	line-height: 150px;
	transition: 150ms;

}

.container:hover {
    color: #54bcc8;
}

* {
    box-sizing: border-box
}

.slideshow-container {
    position: relative;
}

#logo {
    width: 300px;
    height: 150px;
    float: left;
}

.onas .inner {
	width: 1000px;
	margin: auto;
	text-align: justify;
	font-family: 'Open Sans',sans-serif;
	padding: 50px 0;
	height: 700px;
	position: relative;
}

.onas p {
	width: 600px;
	margin: auto 0;
	height: auto;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#onas {
	float: right;
	width: 300px;
	height: 400px;
	margin: 0 50px;
}

.footer {
    color: #333;
    background-color: #fff;
    border-top: 1px solid #333;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.footer .inner {
    width: 1000px;
    margin: auto;
    padding: 0 20px;
}

.footer h5 {
    font-family: 'Playfair Display',serif;
    font-size: 22px;
}

.footer p {
    font-family: 'Playfair Display',serif;
    font-size: 18px;
    line-height: 30px;
}

.footer .right-column {
    width: 300px;
    float: right;
}

.footer .contact-info:after {
    clear: both;
    display: block;
    content: '';
}

.footer .copyright {
    margin-top: 40px;
    clear: both;
    text-align: left;
    font-size: 8px;
}

.top10 .inner{
	width: 1000px;
	margin: 50px auto;
}

.top10 table {
	width: 100%;
	border: 2px solid white;
	border-collapse: collapse;
	background-color: #99CCFF;
	counter-reset: rowNumber -1;
}

.top10 table tr {
    counter-increment: rowNumber;
}

.top10 th {
	font-size: 20px;
	background-color: #0066CC;
	color: white;
}

.top10 tr, td {
	border: 2px solid white;
	content: counter(rowNumber);
}

.top10 a {
	text-decoration: none;
	color: black;
}

.datebase .inner{
	width: 1000px;
	margin: 50px auto;
}

.datebase table {
	width: 100%;
	border: 2px solid white;
	border-collapse: collapse;
	background-color: #99CCFF;
	counter-reset: licznik;
}

.datebase th {
	font-size: 20px;
	background-color: #0066CC;
	color: white;
}

.datebase tr, td {
	border: 2px solid white;
}

.datebase a {
	text-decoration: none;
	color: black;
}

button[type='submit'].button1{
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: #99CCFF;
    background-color: #0066CC;
}

.searching .inner{
	width: 1000px;
	margin: 50px auto;
}

.searching table {
	width: 100%;
	border: 2px solid white;
	border-collapse: collapse;
	background-color: #99CCFF;
	counter-reset: licznik;
}

.searching th {
	font-size: 20px;
	background-color: #0066CC;
	color: white;
}

.searching tr, td {
	border: 2px solid white;
}

.searching a {
	text-decoration: none;
	color: black;
}